.forgot-password-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(67, 198, 172);
    background: linear-gradient(90deg, rgb(127, 234, 255) 0%, rgb(129, 122, 255) 100%);
}
.forgot-password-container h1{
    color: white;
}
.forgot-password-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 25rem;
}

.forgot-password-container form>label {
    width: 20rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 0;
}

.forgot-password-button{
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    display: block;
    width: fit-content;
    border: none;
    border-radius: 2rem;
    background-color: rgb(181, 181, 181);
    box-shadow: inset 2px 2px rgba(255, 255, 255, 0.5), inset -3px -3px rgba(0, 0, 0, 0.5);
    transition: all 0.2s;
    cursor: pointer;
}
.forgot-password-button:hover{
    scale: 1.2;
    box-shadow: inset -3px -3px rgba(255, 255, 255, 0.3), inset 2px 2px rgba(0, 0, 0, 0.3);
}
.forgot-password-container input{
    width: 10rem;
    text-align: center;
    padding: 1rem;
    border-radius: 2rem;
    background-color: rgb(181, 181, 181);
    border: none;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5), inset -2px -2px 3px rgba(255, 255, 255, 0.6);
}
.forgot-password-container input{
    outline: none;
}
.forgot-password-container .confirmation-message{
    background-color: rgb(211, 255, 211);
    padding: 1rem;
    border-radius: 1rem;
    width: fit-content;
    text-align: center;
    margin: 1rem auto;
}
.forgot-password-container a{
    color: white;
    margin: 1rem 0;
    transition: scale 0.2s;
}
.forgot-password-container a:hover{
    scale: 1.1;
}
.forgot-password-container .error-message{
    background-color: rgb(253, 153, 153);
    padding: 1rem;
    border-radius: 1rem;
    width: fit-content;
    text-align: center;
    margin: 1rem auto;
}

@media screen and (max-width: 580px) {
    .forgot-password-container h1{
        font-size: 1.5rem;
    }
    .forgot-password-container form>label{
        width: 15rem;
        font-size: 0.8rem;
    }
    .forgot-password-container input{
        padding: 0.3rem 0.5rem;
        text-align: left;
        width: 8rem;
    }
    .forgot-password-button{
        padding: 0.3rem 0.5rem;
        transition: none;
    }
    .forgot-password-button:hover{
        scale: 1;
    }
    .forgot-password-container a{
        font-size: 0.8rem;
        color: white;
        margin: 0.5rem 0;
    }  
    .forgot-password-container .confirmation-message{
        background-color: rgb(211, 255, 211);
        padding: 0.2rem 10px;
        border-radius: 1rem;
        width: fit-content;
        text-align: center;
        margin: 0.5rem 3rem;
        font-size: 0.8rem;
    }
    .forgot-password-container .error-message{
        background-color: rgb(253, 153, 153);
        padding: 1rem;
        border-radius: 1rem;
        width: fit-content;
        text-align: center;
        margin: 1rem auto;
    }
}