.product-detail-container {
    padding: 0 2rem;
    box-sizing: border-box;
}

.product-detail-top {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    background-color: #d8e0ea;
    box-shadow: 1.4px 1.4px black, -2px -2px inset rgb(170, 170, 170);
    padding: 0 1rem;
    border-radius: 1rem;
}

.product-detail-top .slick-list {
    width: 100%;
    height: 50%;
}

.product-detail-top .slick-slide {
    display: flex;
    align-items: center;
}

.product-detail-top .slick-slide div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30rem;
}

.product-detail-top .slick-slide img {
    width: 50%;
}

.product-name {
    padding: 0.4rem 2rem;
    font-size: 2rem;
    font-weight: bold;
    color: #333333;
}

.product-rating{
    width: 10rem;
    /* border: 1px solid; */
    margin: 0.2rem 1.6rem;
}
.product-price{
    padding: 0.4rem 2rem;
    font-size: 1.4rem;
}

.product-images-slider {
    /* border: 1px solid; */
    align-self: center;
    width: calc(100% - 5rem);
    margin: 1rem auto;
}

.product-description,
.product-reviews,
.add-product-review {
    padding: 1rem 3rem;
    border-radius: 1rem;
    margin: 1rem 0;
    background-color: #d8e0ea;
    box-shadow: 1.4px 1.4px black, -2px -2px inset rgb(170, 170, 170);
}

.product-description h2,
.product-reviews h2,
.add-product-review h2 {
    font-size: 2rem;
}

.description {
    font-size: 1.2rem;
    margin: 0.4rem 0;
}

.review-form form {
    display: flex;
    flex-direction: column;
}

.review-input {
    border: none;
    width: 100%;
    border-bottom: 1px solid black;
    background-color: transparent;
    padding: 0.7rem;
    margin: 0.5rem 0;
}

.review-input:focus {
    outline: none;
}

.review-submit-button {
    text-align: center;
    align-self: flex-end;
    width: 8rem;
    cursor: pointer;
    padding: 0.4rem;
    border-radius: 1rem;
    border: 2px solid black;
    background-color: rgb(190, 190, 190);
    transition: all 0.1s;
}

.review-submit-button:hover {
    background-color: grey;
    color: white;
    scale: 1.1;
}
.review-submitted-button{
    text-align: center;
    align-self: flex-end;
    padding: 0.4rem;
    border-radius: 1rem;
    background-color: rgb(129, 244, 129);
    border: 2px solid rgb(57, 108, 57);
}
.review-form .error{
    text-align: center;
    align-self: flex-end;
    padding: 0.4rem;
    border-radius: 1rem;
    background-color: rgb(255, 142, 134);
    border: 2px solid rgb(134, 61, 51);
}
.review {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    background-color: #e5edf6;
    box-shadow: 1px 1px #5c97e0 inset, -1px -1px #2779de inset;
    border-radius: 1rem;
    padding: 1rem;
}

.reviewer-details {
    display: flex;
    align-items: center;
}

.reviewer-avtar {
    width: 48px;
    height: 48px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0.1rem 0.4rem;
}

.reviewer-avtar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.reviewer-rating{
    width: 5rem;
    margin: 0.2rem 0;
    /* border: 1px solid; */
}

.reviewer-comment {
    margin: 0.2rem 4rem;
}